body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.name-color{
  color: rgb(241, 117, 45);
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(238, 127, 76);
  width: 500px;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: none;
  position: relative;
}
.search-button {
  padding: 10px 50px;
  
  margin-left: 25px;
  background-color: rgb(238, 127, 76);
  color: rgb(40, 40, 41);
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
}
#search-btn{
  border-radius: 35px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 95%;
  
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 15px;
  margin: 10px;
  height: 440px;
  transition: 0.6s;
  background-color: rgb(199, 196, 196);
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(80, 79, 79);
  border-radius: 15px;
  border: 1px solid rgb(236, 149, 77);
  background-color: rgb(136, 136, 136);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(165, 165, 165);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px rgb(179, 179, 179);
    border-radius: 10px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
  
}
.buy-btn{
  background-color: rgb(228, 122, 74);
  color: rgb(39, 39, 39);
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}